/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  height: 90%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  background-image: url("images/road2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* CSS Variables */
:root {
  --navbar-height: 59px;
}
/* Heading */

#Heading {
  justify-content: center;
  align-items: center;
}
#home h1 {
  color: rgb(26, 22, 22);
  text-align: center;
  font-family: "Bree Serif", serif;
}
#home {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  align-items: center;
  /* padd */
}

#Select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin: 15px auto;
  padding: 10px auto;
  font-size: 32px;
}

/* Services Section */
#services {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.services-container {
  display: flex;
  /* margin:-100px 1px 1px 1px; */
}
.box {
  width: 225px;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bree Serif", serif;
  font-size: 2.3rem;
  padding: 13px;
  background-color: whitesmoke;
}
.services-container a {
  text-decoration: none;
  color: black;
}

.services-container a:hover {
  color: black;
}
.box:hover {
  transform: translate(-15px, -15px);
  transition: transform 500ms ease-in-out;
  box-shadow: 15px 15px rgb(0, 0, 0);
}
