body {
  background-color: rgb(142, 198, 246);
}
.query {
  margin-top: 12vh;
  padding-top: 15rem;
  border: solid;
}
.query-box {
  border: 0.1px solid grey;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  /* padding: 10px auto; */
  margin: 10px auto;
  margin-top: 50px;
  padding: 20px 20px;
}
.query-content {
  margin: 50px auto;
}

.anchor-query {
  text-decoration: none !important;
}
